<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<title>Buy American?</title>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Josefin+Sans" rel="stylesheet">

</head>

<style>
#post {
    font-weight: bold;
    color: white;
}
.carButton{
    display: block;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: bolder;
}

.optionButton {
    color:black;
}

#buttons>button, #buttons2>button, #optionDiv>button, #removeSearch>button {
    margin: 7px;
}

body{
    background: url('images/ferraris2.jpg')  no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}




</style>

<body>
<!-- handlebars template to display car and have three buttons yes, no maybe w their routes defined by clid -->
<script id="cl-template" type="text/x-handlebars-template">
    <div class='container'>
      <div class='row'>
       <div class='col-sm-6'>
       <button type="button" class="btn btn-lg btn-success catButton" onclick="categorize('yes', {{ clid }})">YES</button>
       <button type="button" class="btn btn-lg btn-warning catButton" onclick="categorize('maybe', {{ clid }})">MAYBE</button>  
       <button type="button" class="btn btn-lg btn-danger catButton" onclick="categorize('no', {{ clid }})">NO</button>      
        <a target="_blank" href= {{ link }} style='font-size: 20px; color: white; font-weight: bolder;'><h2>{{ title }}</h2><br>
        <h3 style='text-align: center'>{{ price }}</h3></a>
        <p id='post'>{{ post }}</p>
        {{#each pics}}
        <img src= {{ this }} alt=''>
        {{/each}}
        <br><br>
       </div>
      </div> 
    </div>
</script>



<div class='container'>
  <div class='row'>
    <div class='col-sm-4'>
        <div id='buttons'></div><div id='removeSearch'></div>
    </div>
    <div class='col-sm-4 col-sm-offset-4'>
        <div id='optionDiv'></div>
    </div>
  </div>
  <div class='row'>
      <div class='col-sm-6 col-sm-offset-3'>
        <div id='results'></div>
      </div>
</div>

<div class='container'>
    <div id='results'></div>
</div>

<div id='buttons2' style='display: block;'></div>
<div id='yesandmaybes'></div>



<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.min.js"></script>

<script type='text/javascript'>

// method to hit route to create choices collection

var initChoices = () => {
    $.getJSON("/initchoices/", function(result){
  		//populating the database
    });
}

// scraping and adding to mongo db

var scrape = (make) => {
  $.getJSON("/scrape/" + make, function(result){
  		//populating the database
    });
}


// initChoices();
scrape('honda');
scrape('toyota');
scrape('mazda');
scrape('nissan');
scrape('subaru');
scrape('hyundai');
scrape('van');

// populating arrays for yes, no, maybes

var nos = [];

var updateNos = () => {
    nos = [];
    $.getJSON("/category/no", function(result){
        result.forEach((field, i ) => {
            nos.push(field.clid);
        })
    });
}

var yeses = [];

var updateYeses = () => {
    yeses = [];
    $.getJSON("/category/yes", function(result){
        result.forEach((field, i ) => {
            yeses.push(field.clid);
        })
    });
}

var maybes = [];

var updateMaybes = () => {
    maybes = [];
    $.getJSON("/category/maybe", function(result){
        result.forEach((field, i ) => {
            maybes.push(field.clid);
        })
    });
}

updateNos();
updateMaybes();
updateYeses();


var categorize = (option, clid) => {
	$.getJSON("/update/" + option + '/' + clid, function(result) {
		console.log('updated ' + clid + ' with ' + option + ' flag.')
	})
    switch(option){
        case 'no':
            nos.push(clid);
            break;
        case 'yes':
            yeses.push(clid);
            break;
        case 'maybe':
            maybes.push(clid);
            break;
    }
}




$.getJSON('/init',function(result) {
	console.log('db initiation, watching for duplicates');
})

var popYeses = () => {
    updateYeses();
    $('#buttons2').empty()
	  $.getJSON("/all", function(result){
	  	$('#results').empty();
        result.forEach((field, i) => {
        	if (yeses.includes(field.clid)) {
	        	var fillDiv = $('<button/>',
	            {
	                class: 'btn btn-sm btn-success carButton',
	                id: 'fillButton_' + i,
	                text: field.title,
	                'data-index': i,
                    'data-clid': field.clid,
	                'data-href': field.href,
	                click: function (event) {
	                	$('#buttons2').empty(); 
	                    var ind = $(this).data('index');
	                    fillit(result[ind]);
	                    console.log(result[ind].title);
                        console.log(result[ind].clid);
	                    setTimeout(function(){$('html, body').animate({scrollTop: '0px'}, 300);}, 200);
	                }
	            });
            $("#buttons2").append(fillDiv);
        	}
        });
    });
}

var popNos = () => {
    updateNos();
    $('#buttons2').empty()
	  $.getJSON("/all", function(result){
	  	$('#results').empty();
        result.forEach((field, i) => {
        	if (nos.includes(field.clid)) {
	        	var fillDiv = $('<button/>',
	            {
	                class: 'btn btn-sm btn-danger carButton',
	                id: 'fillButton_' + i,
	                text: field.title,
	                'data-index': i,
                    'data-clid': field.clid,
	                'data-href': field.href,
	                click: function (event) {
	                	$('#buttons2').empty(); 
	                    var ind = $(this).data('index');
	                    fillit(result[ind]);
	                    console.log(result[ind].title);
                        console.log(result[ind].clid);
	                    setTimeout(function(){$('html, body').animate({scrollTop: '0px'}, 300);}, 200);
	                }
	            });
            $("#buttons2").append(fillDiv);
        	}
        });
    });
}

var popMaybes = () => {
    updateMaybes();
    $('#buttons2').empty()
	  $.getJSON("/all", function(result){
	  	$('#results').empty();
        result.forEach((field, i) => {
        	if (maybes.includes(field.clid)) {
	        	var fillDiv = $('<button/>',
	            {
	                class: 'btn btn-sm btn-warning carButton',
	                id: 'fillButton_' + i,
	                text: field.title,
	                'data-index': i,
                    'data-clid': field.clid,
	                'data-href': field.href,
	                click: function (event) {
	                	$('#buttons2').empty(); 
	                    var ind = $(this).data('index');
	                    fillit(result[ind]);
	                    console.log(result[ind].title);
                        console.log(result[ind].clid);
	                    setTimeout(function(){$('html, body').animate({scrollTop: '0px'}, 300);}, 200);
	                }
	            });
            $("#buttons2").append(fillDiv);
        	}
        });
    });
}


var getMake = (make) => {
    updateNos();
    updateMaybes();
    updateYeses();
	$('#buttons2').empty();
    //add delete button here w data of clid
	  $.getJSON("/return/" + make, function(result){
	  	$('#results').empty();
        result.forEach((field, i) => {
        	if (!nos.includes(field.clid)) {
                var deleteButton = $('<button/>',
	            {
	                class: 'btn btn-md btn-danger delButton',
	                id: 'delButton_' + i,
	                text: 'X',
	                'data-index': i,
                    'data-clid': field.clid,
	                'data-href': field.href,
                    'data-filldelete': '#fillButton_' + i,
	                click: function (event) {
	                	// $('#buttons2').empty(); 
	                    var clid = $(this).data('clid');
                        var fillD = $(this).data('filldelete');
                        $(this).remove();
                        $(fillD).remove();
                        categorize('no', clid); 
	                }
                });
	        	var fillDiv = $('<button/>',
	            {
	                class: 'btn btn-md btn-info carButton',
	                id: 'fillButton_' + i,
	                text: field.title,
	                'data-index': i,
                    'data-clid': field.clid,
	                'data-href': field.href,
	                click: function (event) {
	                	$('#buttons2').empty(); 
	                    var ind = $(this).data('index');
	                    fillit(result[ind]);
	                    console.log(result[ind].title);
                        console.log(result[ind].clid);
	                    setTimeout(function(){$('html, body').animate({scrollTop: '0px'}, 300);}, 200);
	                }
	            });
            $("#buttons2").append(deleteButton);
            $("#buttons2").append(fillDiv);
        	}
        });
    });
}

var makeButton = (make) => {
	var b = $('<button/>',
		{
			class: 'btn btn-md btn-primary',
            id: make + '_button',
            text: make,
            click: function (event) { 
            	getMake(make);
            }
		});
	$('#buttons').append(b);
}

var makeYesButton = () => {
    var b = $('<button/>',
		{
			class: 'optionButton btn btn-md btn-success',
            id: 'YESES',
            text: 'SHOW YESES',
            click: function (event) { 
            	popYeses();
            }
		});
    $('#optionDiv').append(b);
}

var makeMaybeButton = () => {
    var b = $('<button/>',
		{
			class: 'optionButton btn btn-md btn-warning',
            id: 'MAYBES',
            text: 'SHOW MAYBES',
            click: function (event) { 
            	popMaybes();
            }
		});
    $('#optionDiv').append(b);
}

var makeNoButton = () => {
    var b = $('<button/>',
		{
			class: 'optionButton btn btn-md btn-danger',
            id: 'NOS',
            text: 'SHOW NOS',
            click: function (event) { 
            	popNos();
            }
		});
    $('#optionDiv').append(b);
}

var fillit = (obj) => {
        var source   = $("#cl-template").html();
        var template = Handlebars.compile(source);
        var html = template(obj);
        $('#results').html(html);
}

$( document ).ready(function() {
	//create car buttons

	makeButton('honda');
	makeButton('toyota');
	makeButton('nissan');
	makeButton('mazda');
	makeButton('subaru');
    makeButton('hyundai');
    makeButton('van');
    makeYesButton();
    makeMaybeButton();
    makeNoButton();

	var remove = $('<button/>',
            {
                class: 'btn btn-danger btn-sm',
                id: 'remove',
                text: ' X ',
                click: function () { 
                    $('#results').empty();
                }
            });
    $('#removeSearch').append(remove);

})



</script>

</body>



</html>

